<div class="container">
<form #emailForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Enter Email</label>
    <input class="input" [ngClass]="{'is-danger':emailControl.invalid && emailControl.touched}" #emailControl="ngModel" name="email" [(ngModel)]="email" type="email" pattern=".+@.+\..+" required/>
    <ng-container *ngIf="emailControl.invalid && emailControl.touched">
      <div class="help is-danger" *ngIf="emailControl.errors.required">
        Your must enter an email
      </div>
      <div class="help is-danger" *ngIf="emailControl.errors.pattern">
        Please enter a valid email
      </div>
    </ng-container>
  </div>
  <button class="button is-primary" type="submit" [disabled]="!emailForm.valid">Submit</button>
</form>
<hr>
{{emailForm.valid }}
{{emailForm.value | json}}

</div>